In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [45]:
import torch
import pandas as pd
import torch.nn.functional as F
from transformers import pipeline
from transformers import AutoTokenizer, AutoModelForSequenceClassification
from transformers import DistilBertTokenizer

In [3]:
binori=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Binori_reviews.csv')
courtyard_sbr=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Courtyard_SBR_reviews.csv')
crown_plaza=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Crown_Plaza_reviews.csv')
dt=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/DoubleTree_reviews.csv')
ff_marriott=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/FairField_Marriott_reviews.csv')
fortune_select=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Fortune_Select_reviews.csv')
holiInn_prahald=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/HolidayInn_Prahaladnagar_reviews.csv')
hyatt=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Hyatt_reviews.csv')
itc_narmada=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/ITC_Narmada_reviews.csv')
lt=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Lemon Tree Premier; The Atrium_reviews.csv')
novotel=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Novotel_reviews.csv')
pride_plaza=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/PridePlaza_reviews.csv')
rb=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Radisson_Blu_reviews.csv')
taj=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/TAJ_reviews.csv')
vivanta=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Vivanta_reviews.csv')
courtyard_marriott=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Courtyard_Marriott_reviews.csv')
ramada=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Ramada_reviews_only.csv')
renaissance=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Renaissance_reviews.csv')

In [4]:
cama=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Left/Cama_reviews.csv')
cambay=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Left/Cambay_Grand_reviews.csv')
fourtune_park=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Left/Fortune_Park_reviews.csv')
four_points=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Left/Four_Points_reviews.csv')
hillock=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Left/Hillock_reviews.csv')
mg=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Left/House_of_MG_reviews.csv')
hyatt_regency=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Left/Hyatt_Regency_reviews.csv')
metropole=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Left/Metropole_reviews.csv')
president=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Left/President_reviews.csv')
regenta=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Left/Regenta_Central_reviews.csv')
ummed=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Left/The_Ummed_reviews.csv')
welcomes=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Left/WelcomHotel_ITC_reviews.csv')
wyndham=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Left/Wyndham_reviews.csv')
fortune_landmark=pd.read_csv('/content/drive/MyDrive/Hotel_Reviews/Left/Fortune_Landmark_reviews.csv')

In [5]:
ramada=ramada['Review']
ramada=pd.DataFrame(ramada)
ramada['Hotel_Name']='Ramada'

In [6]:
courtyard_marriott['Review ']
courtyard_marriott.rename(columns={'Review ':'Review'},inplace=True)
courtyard_marriott=courtyard_marriott['Review']
courtyard_marriott=pd.DataFrame(courtyard_marriott)
courtyard_marriott['Hotel_Name']='Courtyard Marriott'
courtyard_marriott.dropna(inplace=True)

In [7]:
binori=binori['Reviews']

binori=pd.DataFrame(binori)
binori['Hotel_Name']='Binori'
binori.rename(columns={'Reviews':'Review'},inplace=True)
binori.dropna(inplace=True)

In [8]:
courtyard_sbr=courtyard_sbr['Review']

courtyard_sbr=pd.DataFrame(courtyard_sbr)
courtyard_sbr['Hotel_Name']='Courtyard SBR'
#courtyard_sbr.rename(columns={'Reviews':'Review'},inplace=True)

In [9]:
crown_plaza=crown_plaza['Review']

crown_plaza=pd.DataFrame(crown_plaza)
crown_plaza['Hotel_Name']='Crown Plaza'

In [10]:
dt=dt["Review"]
dt=pd.DataFrame(dt)
dt['Hotel_Name']="Double Tree"

In [11]:
ff_marriott=ff_marriott['Review']
ff_marriott=pd.DataFrame(ff_marriott)
ff_marriott['Hotel_Name']='FairField Marriott'

In [12]:
fortune_select=fortune_select['Review']
fortune_select=pd.DataFrame(fortune_select)
fortune_select['Hotel_Name']='Fortune Select'

In [13]:
holiInn_prahald=holiInn_prahald['Review']
holiInn_prahald=pd.DataFrame(holiInn_prahald)
holiInn_prahald['Hotel_Name']='Holiday Inn Prahaladnagar'
holiInn_prahald.dropna(inplace=True)

In [14]:
hyatt=hyatt['Review']
hyatt=pd.DataFrame(hyatt)
hyatt['Hotel_Name']='Hyatt'

In [15]:
itc_narmada=itc_narmada['Review']
itc_narmada=pd.DataFrame(itc_narmada)
itc_narmada['Hotel_Name']='ITC Narmada'

In [16]:
lt=lt['Review']
lt=pd.DataFrame(lt)
lt['Hotel_Name']='Lemon Tree Premier, The Atrium'
lt.dropna(inplace=True)

In [17]:
novotel=novotel['Review']
novotel=pd.DataFrame(novotel)
novotel['Hotel_Name']='Novotel'
novotel.dropna(inplace=True)

In [18]:
pride_plaza=pride_plaza['Review']
pride_plaza=pd.DataFrame(pride_plaza)
pride_plaza['Hotel_Name']='Pride Plaza'
pride_plaza.dropna(inplace=True)

In [19]:
rb=rb['Review']
rb=pd.DataFrame(rb)
rb['Hotel_Name']='Radisson Blu'

In [20]:
taj=taj['Reviews']
taj=pd.DataFrame(taj)
taj.rename(columns={'Reviews':'Review'},inplace=True)
taj['Hotel_Name']='Taj'

In [21]:
vivanta=vivanta.rename(columns={'Review ':'Review'})
vivanta=vivanta['Review']
vivanta=pd.DataFrame(vivanta)
vivanta['Hotel_Name']='Vivanta'
vivanta.dropna(inplace=True)

In [22]:
renaissance=renaissance.rename(columns={'Reviews':'Review'})
renaissance=renaissance['Review']
renaissance=pd.DataFrame(renaissance)
renaissance['Hotel_Name']='Renaissance'
renaissance.dropna(inplace=True)

In [23]:
hotel_df=pd.concat([binori,courtyard_sbr,crown_plaza,dt,ff_marriott,fortune_select,holiInn_prahald,hyatt,itc_narmada,lt,novotel,pride_plaza,rb,taj,vivanta,courtyard_marriott,ramada,renaissance])

In [24]:
cama=cama['Review']
cama=pd.DataFrame(cama)
cama['Hotel_Name']='Cama'
cama.dropna(inplace=True)

In [25]:
cambay=cambay['Review']
cambay=pd.DataFrame(cambay)
cambay['Hotel_Name']='Cambay Grand'
cambay.dropna(inplace=True)

In [26]:
fourtune_park=fourtune_park['Review']
fourtune_park=pd.DataFrame(fourtune_park)
fourtune_park['Hotel_Name']='Fortune Park'
fourtune_park.dropna(inplace=True)

In [27]:
four_points=four_points['Review']
four_points=pd.DataFrame(four_points)
four_points['Hotel_Name']='Four Points'
four_points.dropna(inplace=True)

In [28]:
hillock=hillock['Review']
hillock=pd.DataFrame(hillock)
hillock['Hotel_Name']='Hillock'
hillock.dropna(inplace=True)

In [29]:
mg=mg['Review']
mg=pd.DataFrame(mg)
mg['Hotel_Name']='House of MG'
mg.dropna(inplace=True)

In [30]:
metropole=metropole['Review']
metropole=pd.DataFrame(metropole)
metropole['Hotel_Name']='Metropole'
metropole.dropna(inplace=True)

In [31]:
hyatt_regency=hyatt_regency['Review']
hyatt_regency=pd.DataFrame(hyatt_regency)
hyatt_regency['Hotel_Name']='Hyatt Regency'
hyatt_regency.dropna(inplace=True)

In [32]:
president=president['Review']
president=pd.DataFrame(president)
president['Hotel_Name']='The President'
president.dropna(inplace=True)

In [33]:
regenta=regenta['Review']
regenta=pd.DataFrame(regenta)
regenta['Hotel_Name']='Regenta Central'
regenta.dropna(inplace=True)

In [35]:
welcomes=welcomes['Review']
welcomes=pd.DataFrame(welcomes)
welcomes['Hotel_Name']='WelcomHotel ITC'
welcomes.dropna(inplace=True)

In [34]:
ummed=ummed['Review']
ummed=pd.DataFrame(ummed)
ummed['Hotel_Name']='The Ummed'
ummed.dropna(inplace=True)

In [36]:
wyndham=wyndham['Review']
wyndham=pd.DataFrame(wyndham)
wyndham['Hotel_Name']='Wyndham'
wyndham.dropna(inplace=True)

In [37]:
fortune_landmark=fortune_landmark['Review']
fortune_landmark=pd.DataFrame(fortune_landmark)
fortune_landmark['Hotel_Name']='Fortune Landmark'
fortune_landmark.dropna(inplace=True)

In [48]:
hotel_df2=pd.concat([cama,cambay,fourtune_park,four_points,hillock,mg,hyatt_regency,metropole,president,regenta,ummed,welcomes,wyndham,fortune_landmark])

In [39]:
final_hotel_df=pd.concat([hotel_df,hotel_df2])

In [40]:
hotel_df2.reset_index(drop=True,inplace=True)

In [42]:
final_hotel_df.reset_index(drop=True,inplace=True)

In [43]:
final_hotel_df

                                                 Review        Hotel_Name
0     It was a great experience to have all differen...            Binori
1     Disappointing Experience at Pol21. A Multi-Cui...            Binori
2     Indulging in a recent buffet dinner was an abs...            Binori
3     Calling this a 4-star hotel is a big joke.\nI ...            Binori
4     Excellent food excellent stay. Spacious rooms ...            Binori
...                                                 ...               ...
6263             Vintage aesthetics are very attractive  Fortune Landmark
6264                                          Wow hotel  Fortune Landmark
6265                              Nat vihebair staff ok  Fortune Landmark
6266                                 Such a bad hotel..  Fortune Landmark
6267                            The staff are friendly.  Fortune Landmark

[6268 rows x 2 columns]

In [44]:
def truncate_reviews(df, review_column, max_length=512):
    """
    Truncate reviews in the dataframe that exceed the maximum token length of 512 tokens.

    Args:
        df (pd.DataFrame): The DataFrame containing the reviews.
        review_column (str): The name of the column containing reviews.
        max_length (int): The maximum number of tokens allowed (default: 512).

    Returns:
        pd.DataFrame: DataFrame with truncated reviews where applicable.
    """
    # Initialize the DistilBERT tokenizer
    tokenizer = DistilBertTokenizer.from_pretrained('distilbert-base-uncased')

    # Function to tokenize and truncate review if its token length exceeds max_length
    def truncate_review(review):
        # Tokenize the review and check its token length
        tokens = tokenizer.tokenize(review)
        if len(tokens) > max_length:
            # Truncate the tokens to max_length
            truncated_tokens = tokens[:max_length]
            # Convert tokens back to string
            truncated_review = tokenizer.convert_tokens_to_string(truncated_tokens)
            return truncated_review
        else:
            # Return the review as is if it does not exceed max_length
            return review

    # Apply the truncate function to the review column
    df[review_column] = df[review_column].apply(truncate_review)

    return df

In [46]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

def create_vocabulary(dataframe, column_name):
    # Combine all reviews into a single text
    all_reviews = " ".join(dataframe[column_name].astype(str))

    # Use CountVectorizer to tokenize and extract unique words
    vectorizer = CountVectorizer()
    vectorizer.fit([all_reviews])

    # Get the vocabulary
    vocabulary = sorted(vectorizer.get_feature_names_out())
    return vocabulary

In [75]:
list1=[binori,courtyard_sbr,crown_plaza,dt,ff_marriott,fortune_select,holiInn_prahald,hyatt,itc_narmada,lt,novotel,pride_plaza,rb,taj,vivanta,courtyard_marriott,ramada,renaissance]
for i in list1:
  i=truncate_reviews(i,'CleanedReview')
list2=[cama,cambay,fourtune_park,four_points,hillock,mg,hyatt_regency,metropole,president,regenta,ummed,welcomes,wyndham,fortune_landmark]
for i in list2:
  i=truncate_reviews(i,'CleanedReview')

In [49]:
hotel_df=pd.concat([binori,courtyard_sbr,crown_plaza,dt,ff_marriott,fortune_select,holiInn_prahald,hyatt,itc_narmada,lt,novotel,pride_plaza,rb,taj,vivanta,courtyard_marriott,ramada,renaissance])

hotel_df2=pd.concat([cama,cambay,fourtune_park,four_points,hillock,mg,hyatt_regency,metropole,president,regenta,ummed,welcomes,wyndham,fortune_landmark])

final_hotel_df=pd.concat([hotel_df,hotel_df2])

In [51]:
hotel_vocabulary = create_vocabulary(final_hotel_df, 'Review')

# Print the size of the vocabulary and first few unique words
print(f"Vocabulary Size: {len(hotel_vocabulary)}")

Vocabulary Size: 12978

In [57]:
from collections import Counter
from nltk.corpus import stopwords
import nltk

# Download the stop words if not already available
nltk.download('stopwords')

def count_word_frequencies_no_stopwords(dataframe, column_name):
    # Combine all reviews into a single text
    all_reviews = " ".join(dataframe[column_name].astype(str))

    # Tokenize the text into words
    words = all_reviews.split()

    # Load English stop words
    stop_words = set(stopwords.words('english'))

    # Remove stop words
    filtered_words = [word for word in words if word.lower() not in stop_words]

    # Count the frequency of each word
    word_frequencies = Counter(filtered_words)

    # Get the 20 most frequent words
    most_frequent_words = word_frequencies.most_common(200)

    return word_frequencies, most_frequent_words

# Example usage
word_frequencies, most_frequent_words = count_word_frequencies_no_stopwords(final_hotel_df, 'Review')

# Print the 20 most frequent words
print("Top 20 Most Frequent Words (Without Stop Words):")
for word, freq in most_frequent_words:
    print(f"{word}: {freq}")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

Top 20 Most Frequent Words (Without Stop Words):
hotel: 2643
good: 2311
staff: 2141
food: 1864
service: 1705
room: 1625
stay: 1604
rooms: 1106
also: 1058
experience: 1026
.: 1019
place: 867
one: 820
great: 800
,: 796
like: 743
breakfast: 703
well: 683
good.: 649
really: 635
Food: 634
nice: 605
restaurant: 587
us: 565
hotel.: 544
best: 530
would: 526
Good: 525
time: 522
even: 519
&: 505
Ahmedabad: 497
Hotel: 486
-: 463
clean: 456
Rooms: 450
recommend: 437
experience.: 425
buffet: 413
location: 410
service.: 408
excellent: 407
visit: 407
quality: 403
made: 399
dinner: 384
stay.: 383
stayed: 382
Staff: 374
star: 369
get: 352
comfortable: 342
hospitality: 341
reception: 341
amazing: 333
property: 331
team: 324
helpful: 315
5: 315
check: 312
business: 305
front: 304
Ahmedabad.: 301
much: 299
every: 292
Great: 290
Overall: 288
staff.: 283
2: 281
went: 277
services: 277
feel: 276
Service: 275
food.: 274
make: 266
friendly: 265
Nice: 265
always: 261
dining: 260
Room: 260
go: 258
could: 255
thanks: 254
care: 249
need: 243
polite: 242
small: 241
delicious: 241
Breakfast: 241
bad: 237
people: 237
provided: 236
water: 235
Excellent: 234
better: 233
desk: 232
One: 232
area: 232
day: 229
staying: 229
Mr.: 227
spacious: 227
ambience: 227
many: 227
room.: 224
everything: 221
asked: 221
family: 221
take: 218
served: 216
give: 215
special: 214
options: 214
wonderful: 213
definitely: 212
amenities: 210
Thank: 209
quite: 207
pool: 205
took: 205
courteous: 204
here.: 203
guests: 203
view: 203
come: 202
Mr: 202
hotels: 201
got: 200
taste: 197
making: 197
first: 196
needs: 195
overall: 194
available: 193
highly: 190
3: 190
bit: 189
especially: 189
night: 188
visited: 188
service,: 187
floor: 185
must: 184
say: 183
never: 182
call: 182
variety: 181
it.: 178
lot: 178
n: 174
manager: 173
helpful.: 173
said: 172
old: 172
spread: 171
near: 169
worth: 169
given: 168
booked: 168
warm: 167
top: 167
kind: 167
enjoyed: 167
Taj: 167
beautiful: 166
back: 166
city: 166
well.: 165
little: 164
person: 164
bed: 163
hotel,: 162
Thanks: 162
good,: 161
rooms.: 161
want: 160
truly: 160
thing: 160
worst: 159
ever: 159
maintained: 159
Marriott: 157
work: 157
way: 154
provide: 154
next: 152
guest: 152
customer: 152
facilities: 151
rooms,: 151
two: 151
4: 150
food,: 149
perfect: 149
located: 148
place.: 147
staff,: 147
pleasant: 146
looking: 145
bathroom: 145

In [54]:
def clean_review(review):
    # List of words to replace
    clean_list = ['clean', 'cleaned', 'cleaner', 'cleaners', 'cleaniness', 'cleaning', 'cleanliness',
       'cleanly', 'cleanness', 'cleans', 'cleant', 'cleanup', 'reclean', 'roomcleanliness',
       'unclean', 'uncleaned', 'veryclean']
    room_list=['rooms','room5','inroom','roomall','roombut', 'roomcolour', 'roomi', 'roomroom', 'roomthe','roomy','yroom']
    # comfortable_list=['comfort','comfortable', 'comfortableall', 'comfortablegood', 'comfortableneat', 'comfortableroom', 'comfortablestaff', 'comfortablethank', 'comfortablethe', 'comfortably', 'comfortbale', 'comforter', 'comforting', 'comforts']

# Sample review text (replace this with your actual text data)

# Loop through the list and replace variations with the base word "clean"
    for word in clean_list:
      review = review.replace(word, "clean")

    for i in room_list:
      review=review.replace(i,'room')


    review = review.lower()  # Convert to lowercase
    review = review.replace("rooms", "room")  # Replace "rooms" with "room"
    review = review.replace("services", "service")  # Replace "services" with "service"
    review = review.replace("experiences", "experience")
    review = review.replace("food.", "food")
    review = review.replace("foods", "food")
    review = review.replace("service.", "service")
    review = review.replace("stay.", "stay")
    review = review.replace("staff.", "staff")
    review = review.replace("room.", "room")
    review = review.replace("location.", "location")
    review = review.replace("experience.", "experience")
    review = review.replace("room,", "room")
    review = review.replace("service,", "serivce")
    review = review.replace("staff,", "staff")
    review = review.replace("food,", "food")
    review = review.replace("serivce", "service")
    review = review.replace("located", "location")
    review = review.replace("locations", "location")
    review = review.replace("staying", "stay")
    review=review.replace("clean,","clean")
    review=review.replace("clean.","clean")
    review=review.replace("stay,","stay")
    review=review.replace("breakfast.","breakfast")
    review=review.replace("breakfast,","breakfast")
    review=review.replace("staffs,","staff")

    review=review.replace("comfortable,","comfortable")
    review=review.replace("comfortable.","comfortable")





     # Replace "experiences" with "experience"
    return review

In [55]:
final_hotel_df['CleanedReview']=final_hotel_df['Review'].apply(clean_review)

In [58]:
word_frequencies, most_frequent_words = count_word_frequencies_no_stopwords(final_hotel_df, 'CleanedReview')

# Print the 20 most frequent words
print("Top 20 Most Frequent Words (Without Stop Words):")
for word, freq in most_frequent_words:
    print(f"{word}: {freq}")

Top 20 Most Frequent Words (Without Stop Words):
room: 4128
hotel: 3147
service: 3020
food: 2990
staff: 2969
good: 2847
stay: 2372
experience: 1514
also: 1174
great: 1094
breakfast: 1091
one: 1054
clean: 1028
.: 1019
place: 884
nice: 874
location: 822
,: 796
like: 758
well: 757
really: 705
restaurant: 690
best: 682
good.: 658
excellent: 644
would: 642
even: 637
hotel.: 586
comfortable: 580
us: 570
ahmedabad: 558
time: 524
&: 505
overall: 482
buffet: 468
-: 463
amazing: 460
stayed: 453
recommend: 449
quality: 439
dinner: 429
thanks: 417
visit: 414
made: 405
hospitality: 403
star: 393
reception: 384
front: 382
get: 358
property: 356
check: 354
team: 352
special: 351
every: 338
thank: 331
business: 330
went: 325
helpful: 325
ahmedabad.: 319
5: 315
highly: 309
much: 303
everything: 297
friendly: 291
always: 286
chef: 285
feel: 283
dining: 282
2: 281
ambience: 276
make: 272
wonderful: 272
bad: 269
go: 268
spacious: 264
could: 264
bathroom: 260
need: 260
small: 259
must: 259
delicious: 257
polite: 254
many: 254
better: 251
people: 250
care: 249
definitely: 247
water: 247
worst: 246
desk: 246
mr: 242
mr.: 241
day: 237
provided: 237
area: 235
first: 234
family: 233
pool: 228
asked: 228
visited: 225
courteous: 224
manager: 224
got: 223
take: 223
especially: 223
give: 222
never: 221
amenities: 220
served: 220
view: 218
guests: 217
hotels: 217
quite: 217
taste: 216
options: 214
took: 212
here.: 204
needs: 204
loved: 204
come: 203
beautiful: 202
taj: 198
making: 197
bit: 197
available: 197
hotel,: 195
night: 194
enjoyed: 194
variety: 193
old: 193
housekeeping: 191
worth: 190
3: 190
call: 189
near: 188
floor: 188
booked: 187
n: 187
specially: 186
say: 183
it.: 182
lot: 182
city: 182
spread: 178
top: 178
parking: 175
bed: 175
extremely: 175
said: 174
helpful.: 174
warm: 173
given: 172
little: 172
truly: 169
kind: 169
next: 168
customer: 168
back: 167
swimming: 167
awesome: 166
management: 166
well.: 166
guest: 165
love: 165
perfect: 165
want: 164
person: 164
looking: 163
big: 163
good,: 163
ever: 162
staffs: 162
thing: 161
maintained: 161
itc: 161
marriott: 160
two: 158
work: 158
way: 157
keep: 157
facilities: 156
provide: 156
pleasant: 153
booking: 152
decent: 152
house: 151
hyatt: 151
poor: 150
4: 150
though: 149
place.: 148
recently: 147
luxurious: 146
days: 146
price: 145
time.: 145
came: 144
indian: 143
nothing: 142
around: 142

In [60]:
for i in list2:
  i['CleanedReview']=i['Review'].apply(clean_review)
for i in list1:
  i['CleanedReview']=i['Review'].apply(clean_review)

In [77]:
def analyze_reviews_per_hotel(df):
    """
    Processes a DataFrame with reviews for a single hotel and returns detailed sentiment analysis.

    Parameters:
    df (DataFrame): Input DataFrame containing columns 'Review' for a specific hotel.
    hotel_name (str): Name of the hotel.

    Returns:
    DataFrame: A DataFrame with columns 'Hotel_Name', 'CleanedReview', 'Sentiment', 'Score', 'Detailed Sentiment'.
    """
    # Ensure the DataFrame has a 'Review' column
    if 'Review' not in df.columns:
        raise ValueError("The DataFrame must have a 'Review' column.")

    # Text cleaning function

    # Load sentiment analysis pipeline
    sa = pipeline("sentiment-analysis", model="distilbert-base-uncased-finetuned-sst-2-english",tokenizer="distilbert-base-uncased-finetuned-sst-2-english",truncation=True)

    # Analyze sentiment
    df['Sentiment'] = df['CleanedReview'].apply(lambda x: sa(x)[0]['label'])
    df['Score'] = df['CleanedReview'].apply(lambda x: sa(x)[0]['score'])

    # Map sentiment to detailed categories
    def map_sentiment(label, score):
        if label == 'POSITIVE' and score > 0.8:
            return 'Strongly Positive'
        elif label == 'NEGATIVE' and score > 0.8:
            return 'Strongly Negative'
        else:
            return 'Neutral'

    df['Detailed Sentiment'] = df.apply(lambda x: map_sentiment(x['Sentiment'], x['Score']), axis=1)

    # Rearrange columns
    df = df[['Hotel_Name', 'CleanedReview', 'Sentiment', 'Score', 'Detailed Sentiment']]

    return df

In [129]:
ramada_result=analyze_reviews_per_hotel(ramada)

Device set to use cpu

In [131]:
ramada_result

,Hotel_Name,CleanedReview,Sentiment,Score,Detailed Sentiment
0,Ramada,"outstanding experience at ramada hotel, ahmeda...",POSITIVE,0.999877,Strongly Positive
1,Ramada,we booked few room and the banquet to celebrat...,POSITIVE,0.999810,Strongly Positive
2,Ramada,the name itself tells you the quality of hotel...,POSITIVE,0.999801,Strongly Positive
3,Ramada,i've booked this hotel on the basis of their r...,NEGATIVE,0.999560,Strongly Negative
4,Ramada,were there for business meet with doctors in l...,POSITIVE,0.700189,Neutral
...,...,...,...,...,...
105,Ramada,super hotel,POSITIVE,0.999306,Strongly Positive
106,Ramada,gujarat is an alcohol-free zone.\nif you have ...,POSITIVE,0.541063,Neutral
107,Ramada,very good hotel in downtown ahmedabad,POSITIVE,0.999847,Strongly Positive
108,Ramada,super,POSITIVE,0.998784,Strongly Positive
109,Ramada,cousins â€‹â€‹nice job,POSITIVE,0.999786,Strongly Positive

In [136]:
ramada_result['Sentiment'].value_counts()

Sentiment
POSITIVE    88
NEGATIVE    22
Name: count, dtype: int64

In [68]:
ramada_result

,Hotel_Name,CleanedReview,Sentiment,Score,Detailed Sentiment
0,Ramada,"outstanding experience at ramada hotel, ahmeda...",POSITIVE,0.999877,Strongly Positive
1,Ramada,we booked few room and the banquet to celebrat...,POSITIVE,0.999810,Strongly Positive
2,Ramada,the name itself tells you the quality of hotel...,POSITIVE,0.999801,Strongly Positive
3,Ramada,i've booked this hotel on the basis of their r...,NEGATIVE,0.999560,Strongly Negative
4,Ramada,were there for business meet with doctors in l...,POSITIVE,0.700189,Neutral
...,...,...,...,...,...
105,Ramada,super hotel,POSITIVE,0.999306,Strongly Positive
106,Ramada,gujarat is an alcohol-free zone.\nif you have ...,POSITIVE,0.541063,Neutral
107,Ramada,very good hotel in downtown ahmedabad,POSITIVE,0.999847,Strongly Positive
108,Ramada,super,POSITIVE,0.998784,Strongly Positive
109,Ramada,cousins â€‹â€‹nice job,POSITIVE,0.999786,Strongly Positive

In [78]:
taj_result=analyze_reviews_per_hotel(taj)

Device set to use cpu

In [85]:
novotel_result=analyze_reviews_per_hotel(novotel)

Device set to use cpu

In [88]:
binori_result=analyze_reviews_per_hotel(binori)

Device set to use cpu

  Hotel_Name  Ranking_Score
0     Binori     113.555749

In [89]:
courtyard_sbr_result=analyze_reviews_per_hotel(courtyard_sbr)

Device set to use cpu

      Hotel_Name  Ranking_Score
0  Courtyard SBR     107.952187

In [90]:
crown_plaza_result=analyze_reviews_per_hotel(crown_plaza)

Device set to use cpu

    Hotel_Name  Ranking_Score
0  Crown Plaza     171.138491

In [94]:
dt_result=analyze_reviews_per_hotel(dt)

Device set to use cpu

In [95]:
ff_marriott_result=analyze_reviews_per_hotel(ff_marriott)

Device set to use cpu

In [103]:
cama_result=analyze_reviews_per_hotel(cama)

Device set to use cpu

In [104]:
renaissance_result=analyze_reviews_per_hotel(renaissance)

Device set to use cpu

In [105]:
courtyard_marriott_result=analyze_reviews_per_hotel(courtyard_marriott)

Device set to use cpu

In [106]:
vivanta_result=analyze_reviews_per_hotel(vivanta)

Device set to use cpu

In [102]:
rb_result=analyze_reviews_per_hotel(rb)

Device set to use cpu

In [101]:
pride_plaza_result=analyze_reviews_per_hotel(pride_plaza)

Device set to use cpu

In [99]:
lt_result=analyze_reviews_per_hotel(lt)

Device set to use cpu

In [100]:
itc_narmada_result=analyze_reviews_per_hotel(itc_narmada)

Device set to use cpu

In [96]:
hyatt_result=analyze_reviews_per_hotel(hyatt)

Device set to use cpu

In [97]:
holiInn_prahald_result=analyze_reviews_per_hotel(holiInn_prahald)

Device set to use cpu

In [98]:
fortune_select_result=analyze_reviews_per_hotel(fortune_select)

Device set to use cpu

In [107]:
cambay_result=analyze_reviews_per_hotel(cambay)

Device set to use cpu

In [108]:
hyatt_regency_result=analyze_reviews_per_hotel(hyatt_regency)

Device set to use cpu

In [109]:
mg_result=analyze_reviews_per_hotel(mg)

Device set to use cpu

In [110]:
hillock_result=analyze_reviews_per_hotel(hillock)

Device set to use cpu

In [111]:
four_points_result=analyze_reviews_per_hotel(four_points)

Device set to use cpu

In [112]:
fourtune_park_result=analyze_reviews_per_hotel(fourtune_park)

Device set to use cpu

In [113]:
welcomes_result=analyze_reviews_per_hotel(welcomes)

Device set to use cpu

In [114]:
ummed_result=analyze_reviews_per_hotel(ummed)

Device set to use cpu

In [115]:
regenta_result=analyze_reviews_per_hotel(regenta)

Device set to use cpu

In [116]:
president_result=analyze_reviews_per_hotel(president)

Device set to use cpu

In [117]:
metropole_result=analyze_reviews_per_hotel(metropole)

Device set to use cpu

In [118]:
wyndham_result=analyze_reviews_per_hotel(wyndham)

Device set to use cpu

In [119]:
fortune_landmark_result=analyze_reviews_per_hotel(fortune_landmark)

Device set to use cpu

In [153]:
import pandas as pd

def calculate_strongly_positive_score(dataframes):
    """
    Calculates a weighted score for each hotel based on the percentage of strongly positive reviews
    and the average sentiment score of strongly positive reviews.

    Parameters:
    dataframes (list of DataFrame): List of DataFrames with columns 'Hotel_Name', 'Detailed Sentiment', 'Score'.

    Returns:
    DataFrame: A DataFrame containing 'Hotel_Name' and the calculated 'Weighted_Strongly_Positive_Score'.
    """
    results = []

    for df in dataframes:
        # Ensure the DataFrame has the required columns
        if not {'Hotel_Name', 'Detailed Sentiment', 'Score'}.issubset(df.columns):
            raise ValueError("Each DataFrame must have 'Hotel_Name', 'Detailed Sentiment', and 'Score' columns.")

        # Calculate total reviews and strongly positive reviews
        total_reviews = df.groupby('Hotel_Name')['Detailed Sentiment'].count()
        strongly_positive_reviews = df[df['Detailed Sentiment'] == 'Strongly Positive'].groupby('Hotel_Name')['Detailed Sentiment'].count()

        # Calculate the percentage of strongly positive reviews
        percentage = (strongly_positive_reviews / total_reviews * 100).reset_index()
        percentage.columns = ['Hotel_Name', 'Strongly_Positive_Percentage']

        # Calculate the average sentiment score for strongly positive reviews
        strongly_positive_scores = df[df['Detailed Sentiment'] == 'Strongly Positive'].groupby('Hotel_Name')['Score'].mean().reset_index()
        strongly_positive_scores.columns = ['Hotel_Name', 'Average_Strongly_Positive_Score']

        # Merge percentage and average score
        merged = pd.merge(percentage, strongly_positive_scores, on='Hotel_Name')

        # Calculate weighted score
        weight_percentage = 0.8
        weight_score = 0.2
        merged['Weighted_Strongly_Positive_Score'] = (
            merged['Strongly_Positive_Percentage'] * weight_percentage +
            merged['Average_Strongly_Positive_Score'] * 100 * weight_score
        )

        # Append results
        results.append(merged[['Hotel_Name', 'Weighted_Strongly_Positive_Score']])

    # Combine results into a single DataFrame
    combined_results = pd.concat(results, ignore_index=True).sort_values(by='Weighted_Strongly_Positive_Score', ascending=False)

    return combined_results

In [154]:
a=calculate_strongly_positive_score(updated_list)
a.reset_index(drop=True)
a

                        Hotel_Name  Weighted_Strongly_Positive_Score
22                         Hillock                         91.818994
11                     Pride Plaza                         90.337467
29                 WelcomHotel ITC                         90.093449
8                      ITC Narmada                         89.547943
10                         Novotel                         89.172971
12                    Radisson Blu                         88.902465
31                Fortune Landmark                         86.661776
7                            Hyatt                         85.857720
23                     House of MG                         85.504529
14                         Vivanta                         83.943911
6        Holiday Inn Prahaladnagar                         83.627873
2                      Crown Plaza                         83.202089
16                          Ramada                         81.796809
24                   Hyatt Regency                         81.075725
9   Lemon Tree Premier, The Atrium                         80.774221
13                             Taj                         80.720709
20                    Fortune Park                         79.626438
5                   Fortune Select                         78.736014
3                      Double Tree                         77.288982
18                            Cama                         76.950839
21                     Four Points                         75.513471
15              Courtyard Marriott                         71.955982
28                       The Ummed                         71.260689
0                           Binori                         71.103290
26                   The President                         70.300239
17                     Renaissance                         70.235531
25                       Metropole                         69.226010
30                         Wyndham                         68.416365
1                    Courtyard SBR                         67.778274
27                 Regenta Central                         66.120987
4               FairField Marriott                         53.720615
19                    Cambay Grand                         35.584975